{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>{% block title %}CHEDA{% endblock %}</title>
    
        <link href="{% static 'libs/css/bootstrap.min.css'}" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <link href="{% static 'fonts/JosefinSans-Regular.ttf' %}" rel="stylesheet">
    
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script href="{% static 'libs/js/bootstrap.min.js' %}"></script>
    </head>
<body>

    <div class="navbar">
        <nav>
            <h2 class="logo">CHE<span>DA</span></h2>
            <ul>
                <li><a href="./crypto.html">Crypto</a></li>
                <li><a href="./defi.html">Defi</a></li>
                <li><a href="./exchange_rates.html">Forex</a></li>
                <li><a href="./stock_market.html">Stocks</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>

            <button type="button">Login</button>
            <button type="button">Register</button>
        </nav>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                <h3 class="mb-5">Decentralized Finance</h3>  
                
                    {% verbatim  %} 
                        <div id="app"> 
                 
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">DeFi Market Cap</th>
                                        <th scope="col">Eth Market Cap</th>
                                        <th scope="col">DeFi Eth Ratio</th>
                                        <th scope="col">Trading Volume</th>
                                        <th scope="col">DeFi Dominance</th>
                                        <th scope="col">DeFi Leading Coin</th>
                                    </tr>
                                </thead>
                                <tbody>
                               
                                    <tr v-for="defi in defis" :key="defi.id">
                                        <td class="align-middle">{{ defi.defi_market_cap }}</td>
                                        <td class="align-middle">
                                            <img :src="defi.image" alt="" class="px-2" width="50">
                                                {{ defi.eth_market_cap }}
                                            <small class="text-muted px-2">{{ defi.defi_eth_ratio }}</small>
                                        </td>
                                        <td class="align-middle">
                                            {{ defi.trading_volume }}
                                        </td>
                                        <td class="align-middle">{{ defi.defi_dominance }}</td>
                                        <td class="align-middle">{{ defi.defi_leading_coin }}</td>
                                    </tr>                           
                               
                                </tbody>
                            </table>
                            
                        </div>
                    {% endverbatim  %}  
            </div>
        </div>
    </div>
    <script scope>
        const { createApp } = Vue;

        const CoinsApp = {
            data() {
                return {
                    defi: 'DeFi Point',
                    defis: null
                }
            },

            created(){
                const socket = new WebSocket(`ws://${window.location.host}/ws/defis/`);

                let _this = this;

                socket.onmessage = function(event){
                    _this.defis = JSON.parse(event.data);
                }
            }
        }

        createApp(CoinsApp).mount('#app')
    </script>
</body>
</html>