{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>{% block title %}CHEDA{% endblock %}</title>
    
        <link href="{% static 'libs/css/bootstrap.min.css'}" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <link href="{% static 'fonts/JosefinSans-Regular.ttf' %}" rel="stylesheet">
    
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script href="{% static 'libs/js/bootstrap.min.js' %}"></script>
    </head>
<body>

    <div class="navbar">
        <nav>
            <h2 class="logo">CHE<span>DA</span></h2>
            <ul>
                <li><a href="./crypto.html">Crypto</a></li>
                <li><a href="./defi.html">Defi</a></li>
                <li><a href="./exchange_rates.html">Forex</a></li>
                <li><a href="./stock_market.html">Stocks</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            
            <button type="button">Login</button>
            <button type="button">Register</button>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                <h3 class="mb-5">Fiat Currency Exchange Rates</h3>  
                
                    {% verbatim  %} 
                        <div id="app"> 
                 
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Base Currency</th>
                                        <th scope="col">Symbols</th>
                                        <th scope="col">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                               
                                    <tr v-for="currency in currencies" :key="currency.id">
                                        <td class="align-middle">{{ currency.base_currency }}</td>
                                        <td class="align-middle">
                                            {{ currency.symbols }}
                                        </td>
                                        <td class="align-middle">
                                            {{ currency.amount }}
                                        </td>
                                       
                                    </tr>                           
                               
                                </tbody>
                            </table>
                            
                        </div>
                    {% endverbatim  %}  
            </div>
        </div>
    </div>
    <script scope>
        const { createApp } = Vue;

        const CoinsApp = {
            data() {
                return {
                    currency: 'Currenycy Point',
                    currencies: null
                }
            },

            created(){
                const socket = new WebSocket(`ws://${window.location.host}/ws/currencies/`);

                let _this = this;

                socket.onmessage = function(event){
                    _this.currencies = JSON.parse(event.data);
                }
            }
        }

        createApp(CoinsApp).mount('#app')
    </script>
</body>
</html>